<!DOCTYPE html>
<html>
<head>
<th:block th:replace="fragments/common :: headFragment" />
</head>
<body class="login-page">
	<div class="app-wrapper">
		<div class="outer-page-wrapper">
			<div class="page-header">
				<h3 class="page-title">Enter OTP</h3>
			</div>
			<div class="page-content">
				<div class="form-container">
					<form th:action="@{/login}" method="post">
						<input type="hidden" name="email" th:value="${session.lemail}" />
						<div class="form-group">
							<input type="text" name="password" class="form-control" id="password"
								placeholder="Enter OTP here" th:value="${session.lotp}" required>
							<span class="field-error" th:if="${param.error}" th:text="${session.lerror}"></span>
						</div>
						<div class="btn-group">
							<button type="submit" class="btn btn-primary">Continue</button>
						</div>
					</form>
				</div>
			</div>
			<div class="page-footer">
			</div>
		</div>
	</div>
</body>
</html>