<!DOCTYPE html>
<html>
<head>
<th:block th:replace="fragments/common :: headFragment" />
</head>
<body class="tournament-create-page">
	<th:block th:replace="fragments/common :: overlayFragment" />
	<div class="app-wrapper">
		<div class="page-wrapper">
			<div class="page-header">
				<a th:href="@{/admin/tournaments}" class="back-link"><i class="material-icons">arrow_back</i></a>
				<h3 class="page-title">Add Tournament</h3>
			</div>
			<div class="page-content">
				<div class="form-wrapper">
					<div class="form-container">
						<form action="javascript:void(0)" id="create-form" method="post">
							<div class="form-group form-image-wrapper">
								<div class="image-wrapper">
									<img
										th:src="@{${@environment.getProperty('tournaments.image.default.path')}}"
										id="default-form-image" class="default-form-image" />
								</div>
								<a href="javascript:void(0)" id="upload_link">Choose Photo</a> <input
									type="file" name="file" class="form-control hide" id="file">
								<input type="hidden" name="image" class="form-control hide"
									id="image">
							</div>
							<div class="form-group">
								<input type="text" name="name" class="form-control" id="name"
									placeholder="Name">
							</div>
							<div class="form-group">
								<label th:for="startDate">Start Date</label>
								<input type="date" name="startDate"
									class="form-control datepicker" id="startDate"
									placeholder="Start Date">
							</div>
							<div class="form-group">
								<label th:for="regEndDate">Registration End Date</label>
								<input type="date" name="regEndDate"
									class="form-control datepicker" id="regEndDate"
									placeholder="Registration End Date">
							</div>
							<div class="form-group inline-form-group">
								<label th:for="max_score">Max scores per set</label> <input
									type="text" name="maxScore" class="form-control" id="maxScore"
									placeholder="Max Score">
							</div>
							<div class="form-group">
								<label th:for="max_score">Matches in the tournament</label>
								<div class="checkbox-group" th:each="tournamentTypeOpt : ${T(com.auriga.TTApp1.constants.TournamentTypeEnum).values()}">
									<input type="checkbox" th:value="${tournamentTypeOpt}"
										name="types" />
									<label th:text="${tournamentTypeOpt.displayValue}"></label>
								</div>

							</div>
							<div class="btn-group">
								<button type="submit" class="btn btn-primary">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<th:block th:replace="fragments/common :: successResponseModalFragment" />
		<th:block th:replace="fragments/common :: errorResponseModalFragment" />
	</div>

	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/tournaments.js}"></script>
</body>
</html>