<!DOCTYPE html>
<html>
<head>
<div th:replace="commonLayout :: head-content" />
</head>
<body class="tournament-draw-page">
	<div th:replace="commonLayout :: overlayBlock" />
	<div class="app-wrapper">
		<div class="page-wrapper">
			<div class="page-header">
				<a sec:authorize="isAuthenticated()" th:href="@{'/admin/tournaments/'+${tournament.id}}" class="back-link"><i class="material-icons">arrow_back</i></a>
				<a sec:authorize="isAnonymous()" th:href="@{'/tournaments/'+${tournament.id}}" class="back-link"><i class="material-icons">arrow_back</i></a>
				<h3 class="page-title">View Matches</h3>
			</div>
			<div class="page-content">
				<div class="form-wrapper">
					<div class="form-container">
						<form action="javascript:void(0)" id="create-draw-form" method="post">
							<input type="hidden" id="tid" th:value="${tournament.id}" />
							<div class="form-group">
								<label th:for="matchType">Match Type:</label> <select
									id="matchType" name="matchType" class="form-control" onChange="getTournamentMatches($(this), 'list-view')">
									<option value="" selected>Choose...</option>
									<option th:each="tMatchType: ${tournamentMatchTypes}"
										th:value="${tMatchType.getMatchType().id}"
										th:text="${tMatchType.getMatchType().name}"></option>
								</select>
							</div>
							<div class="list-view tournament-matches-list" id="list-view">
								<ul class="list-view-wrapper">
								</ul>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="commonLayout :: successResponseModal"></div>
		<div th:replace="commonLayout :: errorResponseModal"></div>
	</div>
	<div class="hide" id="sample-list-card">
		<li class="list-title">Round - Match</li>
		<li class="list-view-card">
			<ul>
				<li class="list-block list-left-block">
					<ul class="list-view-card-content">
						<li class="list-image-content"><img
							th:src="@{${@environment.getProperty('players.image.default.path')}}"
							class="list-image" /></li>
						<li class="list-detail-content">
							<ul class="">
								<li class="main-content">Player 1</li>
								<li class="sub-content"><span class="age-detail">26
										years</span> - <span class="gender-detail">Male</span></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="list-block list-center-block">
					<div class="content">V/S</div>
				</li>
				<li class="list-block list-right-block">
					<ul class="list-view-card-content">
						<li class="list-image-content"><img
							th:src="@{${@environment.getProperty('players.image.default.path')}}"
							class="list-image" /></li>
						<li class="list-detail-content">
							<ul class="">
								<li class="main-content">Player 1</li>
								<li class="sub-content"><span class="age-detail">26
										years</span> - <span class="gender-detail">Male</span></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			
		</li>
	</div>
	<div sec:authorize="isAuthenticated()">
		<script>
			var authorized = 1;
		</script>
	</div>
	<div sec:authorize="isAnonymous">
		<script>
			var authorized = 0;
		</script>
	</div>
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/tournaments.js}"></script>
</body>
</html>