<!DOCTYPE html>
<html>
<head>
<th:block th:replace="fragments/common :: headFragment" />
</head>
<body class="player-list-page">
	<div class="app-wrapper">
		<div class="page-wrapper">
			<div class="page-header">
				<a th:href="@{/admin/players}" class="back-link"><i class="material-icons">arrow_back</i></a>
				<h3 class="page-title">My Profile</h3>
			</div>
			<div class="page-content">
				<div class="detail-content">
					<ul class="view-top-content">
						<li class="view-img-content">
							<img th:src="@{${user.getImageUrl()}}" id="image" class="image" />
						</li>
						<li class="view-detail-content">
							<ul>
								<li class="main-content" th:text="${user.name}"></li>
								<li class="sub-content" th:if="${user.age != null && user.age != ''}"><span th:text="${user.age}"></span> years</li>
								<li class="sub-content" th:if="${user.gender != null && user.gender != ''}" th:text="${user.gender}"></li>
							</ul>
						</li>
					</ul>
					<ul class="view-mid-content">
						<li>
							<span class="label">Email: </span>
							<span class="content" th:text="${user.email}"></span>
						</li>
					</ul>
					<div th:if="${#authentication.principal.getUser().getIsUsing2FA()}">
						You are using Two-step authentication <a href="#"
							onclick="disable2FA()">Disable 2FA</a>
					</div>
					<div th:if="${! #authentication.principal.getUser().getIsUsing2FA()}">
						You are not using Two-step authentication <a href="#"
							onclick="enable2FA()">Enable 2FA</a>
					</div>
					
					<div id="qr" style="display:none;">
						<p>Scan this Barcode using Google Authenticator app on your phone </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/users.js}"></script>
</body>
</html>