<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="headFragment">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="_csrf" th:content="${_csrf.token}"/>
    	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    	<title>TTApp</title>
        <link rel="stylesheet" type="text/css"
              th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />

		<link rel="stylesheet" th:href="@{/css/common.css}"/>
        <link rel="stylesheet" th:href="@{/css/app.css}"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    
    	<th:block sec:authorize="isAuthenticated()">
			<script>
				var authorized = 1;
			</script>
		</th:block>
		<th:block sec:authorize="isAnonymous()">
			<script>
				var authorized = 0;
			</script>
		</th:block>
    </th:block>
</head>
<body>
	<!-- Overlay -->
	<th:block th:fragment="overlayFragment">
		<div class="overlay" id="overlay"><div class="text">Please wait...</div></div>
	</th:block>
	<!-- Success Modal -->
	<th:block th:fragment="successResponseModalFragment">
		<div class="modal fade" id="successResponseModal" tabindex="-1" role="dialog" aria-labelledby="successResponseModal" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Success</h5>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary btn-no-outline" data-dismiss="modal">Ok</button>
		      </div>
		    </div>
		  </div>
		</div>
	</th:block>
	<!-- Error Modal -->
	<th:block th:fragment="errorResponseModalFragment">
		<div class="modal fade" id="errorResponseModal" tabindex="-1" role="dialog" aria-labelledby="errorResponseModal" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Error</h5>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary btn-no-outline" data-dismiss="modal">Ok</button>
		      </div>
		    </div>
		  </div>
		</div>
	</th:block>
</body>
</html>