@charset "UTF-8";
/* Welcome Page Css Starts */
.banner-wrapper{
	width: 100%;
    height: 60%;
}
.banner-wrapper img{
	max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.welcome-page-content {
	margin: 30px 20px 20px 20px;
}
.welcome-page-content .page-title {
	font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 35px;
}
.page-links {
	display: table;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}
.page-links a{
	display: block;
	margin-bottom: 10px;
} 
/* Welcome Page Css Ends */

/* Tournaments Page Css Starts */
.inner-content{
	margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 40px;
}
.first-list-view h4 {
	margin-bottom: 40px;
    color: #bbb5b5;
}
a.footer-icon {
	color: #bbb5b5;
	text-decoration: none;
}
a.footer-icon:hover, a.footer-icon.active {
	color: #2c82fb;
	text-decoration: none;
}
.footer-icon i{
	display: block;
}
.footer-icon span{
	display: block;
	font-size: 12px;
}
.nav.nav-tabs.tournament-tabs-list li{
	display: inline-block;
    margin: 0 auto;
}
.nav.nav-tabs.tournament-tabs-list li a{
	padding: 10px 0;
    color: #8e8787;
    display: block;
}
.nav.nav-tabs.tournament-tabs-list li.active a,
.nav.nav-tabs.tournament-tabs-list li.active a:hover{
    color: #2c82fb;
    border-bottom: 3px solid #2c82fb;
}
/* Tournaments Page Css Ends */

.page-content .form-wrapper {
	padding: 30px 20px;
}
.inline-form-group input, .inline-form-group select{
	display: inline-block;
	width: 85%;
}
.inline-form-group label{
	display: inline-block;
	width: 13%;
}

.list-view ul{
	padding: 10px;
}
.list-view ul.list-view-wrapper{
	padding: 20px 20px;
}

.list-view li{
	list-style: none;
}	
.list-view li.list-view-card {
	box-shadow: 0 0 2px 2px rgb(227 220 220 / 75%);
    border-radius: 2px;
    margin-bottom: 20px;
}
.list-view .list-image-content{
	display: inline-block;
    border-radius: 50%;
    vertical-align: top;
    padding: 5px 30px 5px 10px;
}
.list-view .list-image-content img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.list-view .list-detail-content{
	display: inline-block;
    vertical-align: top;
}
.list-view .list-detail-content ul {
	padding: 0
}
.list-view .list-detail-content .main-content{
	font-weight: 600;
	margin-bottom: 5px;
}
.list-view .list-detail-content .main-content a{
	color: black;
	text-decoration: none;
}
.list-view .list-detail-content .sub-content{
	font-size: 13px;
    color: #8e8787;
}
.default-form-image{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 0 0 5px 5px rgb(243 240 240 / 75%);
}
.image-wrapper{
	display: block;
	margin-bottom: 10px;
}
.form-image-wrapper{
	text-align: center;
}
.detail-content{
	padding: 10px
}
.detail-content ul{
	padding: 10px
}
.detail-content li{
	list-style: none;
}
.detail-content .view-top-content .view-img-content{
	display: inline-block;
    border-radius: 50%;
    vertical-align: top;
    padding: 5px 30px 5px 10px;
}
.detail-content .view-top-content .view-img-content img{
	width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px rgb(243 240 240 / 75%);
}
.detail-content .view-top-content .view-detail-content {
	display: inline-block;
    vertical-align: top;
}

.detail-content .view-top-content .view-detail-content .main-content{
	font-weight: 600;
    margin-bottom: 5px;
}

.detail-content .view-top-content .view-detail-content .sub-content{
	font-size: 13px;
    color: #525252;
    margin-bottom: 10px;
}
.view-mid-content{
	padding: 10px 20px;
}
.view-mid-content li .label{
	color: #b3acac;
	margin-right: 10px;
}
.view-mid-content li .content{
	color: #525252
}
.tournament-detail .view-top-content {
	margin-bottom: 0;
	padding-bottom: 0;
}
.tournament-detail .view-top-content .main-content{
	font-size: 24px;
	margin-bottom: 20px;
}
.tournament-detail .view-top-content li.sub-content {
	margin-bottom: 20px;
}
.tournament-detail .view-top-content .label{
	font-size: 13px;
	color: #b3acac;
}
.tournament-detail .view-top-content .content{
	font-size: 14px;
	margin-bottom: 20px;
}
.tournament-matches-content{
	padding-top: 0;
}
.tournament-matches-content .main-content{
	font-size: 18px;
	margin-bottom: 20px;
}
.tournament-matches-content .sub-content{
	font-size: 14px;
	margin-bottom: 20px;
	color: #504d4d;
}
.tournament-matches-content .sub-content ul{
	padding: 0;
}
.tournament-matches-content .sub-content ul li{
	display: inline-block;
}
.tournament-matches-content .sub-content ul li.icon-content{
	float: right;
	padding: 0 10px;
}
.tournament-matches-content .sub-content ul li i{
	font-size: 16px;
}
.page-footer.page-footer-full-btn{
	padding: 0;
}
.page-footer.page-footer-full-btn a{
	width: 100%;
    height: 100%;
    border-radius: 0;
    margin-bottom: 0;
}
.list-view.draw-players-list .list-view-wrapper{
	padding: 0
}
.list-view.draw-players-list li.icon-content {
	display: inline-block;
	float: right;
}
.list-view.draw-players-list li.icon-content a i{
	color: red;
}
/* Match Scorer Screen CSS starts */
.match-scorer-wrapper{
	padding: 20px;
}
.match-scorer-wrapper .match-players-block{
	text-align: center;
	margin-bottom: 40px;
}
.match-scorer-wrapper .match-players-block ul.match-players-list-block{
	display: flex;
	text-align: center;
	padding: 0;
}
.match-scorer-wrapper .match-players-block ul.match-players-list-block li{
	list-style: none;
	display: inline-block;
	margin: 0 auto;
}
.match-scorer-wrapper .match-players-block ul.match-players-list-block li.match-player-vs{
	padding: 60px 0;
}
.match-scorer-wrapper .match-players-block .title{
	margin-bottom: 20px
}
.match-scorer-wrapper .match-players-block .vs-text{
	color: #5d5959;
    border-radius: 50%;
    background: #e4e6e7;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.match-scorer-wrapper .match-players-block .image-wrapper img{
	box-shadow: none;
}
.match-scorer-wrapper .match-sets-block{
	margin-bottom: 60px;
}
.match-scorer-wrapper .match-set-block{
	text-align: center;
	margin-bottom: 10px;
}
.match-scorer-wrapper .match-set-block div{
	display: inline-block;
}
.match-scorer-wrapper .match-set-block .set-inner-block{
	border: 1px solid #cec7c7;
    border-radius: 4px;
    font-size: 12px;
    padding: 2px 5px;
}
.match-scorer-wrapper .match-set-block .set-inner-block .content{
	min-width: 100px;	
}
.match-scorer-wrapper .match-set-block .set-inner-block .left-score{
	margin-left: 10px;
}
.match-scorer-wrapper .match-set-block .set-inner-block .right-score{
	margin-right: 10px;
}
.match-scorer-wrapper .match-set-block .image-wrapper{
	margin-bottom: 0;
	width: 25px;
    height: 20px;
}
.match-scorer-wrapper .match-set-block .image-wrapper img{
	width: 15px;
	height: 20px;
}
.match-scorer-wrapper .match-set-block .right-winner-icon-image{
	padding-left: 10px;	
}
.match-scorer-wrapper .match-set-block .left-winner-icon-image{
	padding-right: 10px;
}
.match-scorer-wrapper .match-points-block{
	text-align: center;
}
.match-scorer-wrapper .match-points-block i {
	font-size: 35px;
	vertical-align: middle;
	cursor: pointer;
}
.match-scorer-wrapper .match-points-block .content{
	font-size: 30px;
	margin-bottom: 10px;
}
.match-scorer-wrapper .match-points-block .remove-icon{
	color: #d80a0a;
	margin-bottom: 10px;
}
.match-scorer-wrapper .match-points-block .add-icon{
	color: #07a507;
	margin-bottom: 10px;
}
.match-scorer-wrapper .match-status-block{
	box-shadow: 0 0 2px 2px rgb(227 220 220 / 75%);
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
.match-status-block .match-status-data .btn.btn-primary{
	width: 100px;
    height: 30px;
    line-height: 14px;
    font-size: 14px;
    color: white;
    margin: 0 auto;
    cursor: pointer;
}
.match-status-block .match-status-data .text-content{
	font-size: 20px;
	margin-bottom: 10px;
	color: #675f5f
}
.match-status-data .image-wrapper.medal-image img{
	width: 50px;
	height: 70px;
}
/* Match Scorer Screen CSS ends */
/* Tournament Match List Css starts */
.tournament-matches-list.list-view ul.list-view-wrapper {
	padding: 20px 10px;
}
.tournament-matches-list.list-view .list-title{
	font-size: 18px;
	margin-bottom: 10px;
}
.tournament-matches-list .list-view-card > ul{
	display: flex;
	text-align: center;
}
.tournament-matches-list .list-block{
	display: inline-block;
}
.tournament-matches-list .list-block{
	margin: 0 auto;
}
.tournament-matches-list .list-block .list-view-card-content li{
	display: block;
}
.tournament-matches-list .list-block.list-center-block {
	padding: 50px 0;
}
.tournament-matches-list .list-block.list-center-block .content {
	border-radius: 50%;
    background: #e6dfdf;
    color: #5f5454;
    padding: 5px;
    font-size: 12px;
}
.tournament-matches-list .list-block .list-image-content {
	padding: 0;
	margin-bottom: 10px;
}
/* Tournament Match List Css ends */