@charset "UTF-8";
@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/FontsFree-Net-SFProDisplay-Regular.ttf') format('truetype');
}
body{
	background-color: #e2e2e2;
    margin: 0;
    font-family: 'SF Pro Display';
}
.app-wrapper{
	margin: 0 auto;
    max-width: 35%;
    background-color: white;
    height: 100vh;
    overflow-y: auto;
}
/* Outer Page Layout Css Starts */
.outer-page-wrapper .page-header{
	position: fixed;
    top: 0;
    text-align: center;
    width: 35%;
    padding: 40px;
}
.outer-page-wrapper .page-content{
	padding: 100px 20px 0 20px;
    width: 100%;
}
.outer-page-wrapper .page-title{
	font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}
.outer-page-wrapper .page-footer{
	position: fixed;
    bottom: 0;
    text-align: center;
    width: 35%;
    padding: 20px;
}
.outer-page-wrapper .form-container {
	padding: 100px 20px 0 20px;
	text-align: center;
}
/* Outer Page Layout Css Ends */
/* Inner Page Layout Css Starts */
.page-wrapper .page-header{
	position: fixed;
    top: 0;
    text-align: center;
    width: 35%;
    background: #fff;
    -webkit-box-shadow: 0 8px 6px -6px rgb(164 150 150 / 75%);
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px rgb(164 150 150 / 75%);
	z-index: 1;
}
.page-wrapper .page-content{
	background: #fff;
    margin-top: 55px;
    width: 100%;
    overflow-y: auto;
}
.page-wrapper .page-title{
	font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    padding: 12px;
    margin: 0;
}
.page-wrapper .page-footer{
	position: fixed;
    bottom: 0;
    text-align: center;
    width: 35%;
    padding: 5px 30px;
    background: #fff;
    -webkit-box-shadow: 0 -8px 6px -6px rgb(164 150 150 / 75%);
    -moz-box-shadow: 0 -8px 6px -6px black;
    box-shadow: 0 -8px 6px -6px rgb(164 150 150 / 75%);
}

.tournament-fixture-page .app-wrapper{
	max-width: 80%;
}
.tournament-fixture-page .page-wrapper .page-header, 
.tournament-fixture-page .page-wrapper .page-footer{
	width: 80%;
}
/* Inner Page Layout Css Ends */

/* Tablet */
@media only screen and (min-width:426px) and (max-width:768px){
	.app-wrapper {
		max-width: 50%;
	} 
	.page-wrapper .page-header, 
	.page-wrapper .page-footer,
	.outer-page-wrapper .page-header, 
	.outer-page-wrapper .page-footer
	{
		width: 50%;
	}
	
	.tournament-fixture-page .app-wrapper{
		max-width: 100%;
	}
	.tournament-fixture-page .page-wrapper .page-header, 
	.tournament-fixture-page .page-wrapper .page-footer{
		width: 100%;
	}
}

/* Phone */
@media only screen and (max-width:425px) {
	.app-wrapper {
		max-width: 100%;
	}
	.page-wrapper .page-header, 
	.page-wrapper .page-footer,
	.outer-page-wrapper .page-header, 
	.outer-page-wrapper .page-footer
	{
		width: 100%;
	}
	
	.tournament-fixture-page .app-wrapper{
		max-width: 100%;
	}
	.tournament-fixture-page .page-wrapper .page-header, 
	.tournament-fixture-page .page-wrapper .page-footer{
		width: 100%;
	}
}


.btn {
	display: block;
    width: 180px;
    height: 45px;
    line-height: 30px;
    margin-bottom: 20px;
    background-color: #5983E3;
    font-weight: 500;
    font-style: normal;
}
.form-control {
	border: 2px #eeeeee solid;
    padding: 20px;
}
select.form-control{
	padding: 5px 10px;
    height: 44px;
}
::placeholder{
	color: #bbb5b5 !important;
	opacity: 1;
	font-size: 14px;
}
.form-group{
	margin-bottom: 30px;
}
.modal{
	width: 25%;
    margin-left: 60px;
    left: auto;
}
.modal .modal-header{
	border-bottom: 0;
	padding-bottom: 0;
}
.modal .modal-footer{
	border-top: 0;
	padding-bottom: 0;
	padding-top: 0;
}
.btn.btn-no-outline{
	width: auto;
    height: auto;
    line-height: auto;
    background-color: transparent;
    font-weight: 500;
    font-style: normal;
    color: blue;
    border: 0;
}
.field-error{
	color: red;
    display: block;
    font-size: 14px;
}
.hide{
	display: none;
}

ul.list-view-pagination-wrapper {
	text-align: center;
}
ul.list-view-pagination-wrapper li{
	display: inline-block;
    list-style: none;
}
ul.list-view-pagination-wrapper a.btn.btn-pagination{
	width: auto;
    height: auto;
    padding: 2px 5px;
    line-height: 20px;
    margin-right: 5px;
    color: #0062CB;
    background-color: #fff;
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.page-wrapper .form-container .btn-group {
	width: 100%
}
.page-wrapper .page-header .back-link{
	color: black;
    float: left;
    padding: 10px 0 0 15px;
}
.app-wrapper {
	position: relative;
}
.page-wrapper .page-content .floating-btn-group{
	position: absolute;
    bottom: 70px;
    z-index: 1;
    right: 20px;
}
.page-wrapper .page-content .floating-btn-group i{
	font-size: 40px;
	-webkit-box-shadow: 0 0 3px 3px rgb(243 240 240 / 75%);
    -moz-box-shadow: 0 0 3px 3px rgb(243 240 240 / 75%);
    box-shadow: 0 0 3px 3px rgb(243 240 240 / 75%);
    border-radius: 50%;
}
.logout-form{
	display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
}
.logout-form button{
	border: none;
	background: transparent;
}
.no-results-block{
	text-align: center;
}
