@charset "UTF-8";

div.tournament {
	display: flex;
	flex-direction: row;
}

div.tournament>div {
	flex: 1;
}

div.tournament>div>div {
	position: relative;
}

div.tournament>div+div {
	flex: 1;
	display: flex;
	flex-flow: column;
	padding-left: 20px;
}

div.tournament>div:first-child>div+div {
	/* padding-top: 10px; */
}

div.tournament>div:first-child>div{
	/* margin-bottom: 20px; */
	min-height: 150px;
}

div.tournament>div+div>div {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
}

div.tournament>div>div.match-block-2:after,
div.tournament>div>div.match-block-common:after {
	content: "";
	position: absolute;
	bottom: 50%;
	right: -10px;
	width: 1px;
	height: 100%;
	background-color: #919292;
}

div.tournament>div:first-child>div.match-block-2:after {
	height: 151px;
    bottom: 113px;
}
div.tournament>div:first-child>div.match-block-common:after {
	height: 24px;
    bottom: 113px;
}
div.tournament>div:not(first-child)>div.match-block-common:after {
	height: 25%;
}
div.tournament>div:nth-last-child(2)>div.match-block-common:after,
div.tournament>div:last-child>div.match-block-common:after {
	height: 0;
}

div.tournament>div>div>ul {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

div.tournament>div>div>ul:after {
	content: "";
	position: absolute;
	top: 50%;
	left: -11px;
	right: -10px;
	height: 1px;
	background-color: #919292;
}

div.tournament>div:first-child>div>ul:after {
	left: 2px;
	right: -9px;
}

div.tournament>div:last-child>div>ul:after {
	right: 0;
	width: 7%;
}

div.tournament>div>div>ul>li {
	font-size: 15px;
	line-height: 1em;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 5px;
	background-color: #fff;
	color: #212529;
	border: 1px solid #919292; 
	border-radius : 5px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
div.tournament>div>div>ul>li.player1 {
	background: #f3f3f3;
	border-bottom: 0;
}
div.tournament>div.round.winner>div>ul>li.player1 {
	border-bottom: 1px solid #919292;
}
div.tournament>div>div>ul>li.player2 {
	border-top: 0;
}
div.tournament>div>div>ul>li.player.inactive{ 
	color: #858585;
}
div.tournament>div>div>ul>li span {	
	display:inline-block;
}
div.tournament>div>div>ul>li span.image-wrapper {	
	margin-bottom: 0;
}
div.tournament>div>div>ul>li span.image-wrapper img{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	box-shadow: none;
}
div.tournament>div>div>ul>li span.text-content {	
	padding-left: 10px;
}
div.tournament>div>div>ul.active{
	cursor: pointer;
}
div.tournament>div>div>ul.inactive{
	pointer-events: none;
}
p.match-status{
	display: inline-block;
	font-size: 14px;
	display: list-item;          
    list-style-type: disc;       
    list-style-position: inside;
    padding-top: 10px;
}
p.match-status.status-ONGOING{
	color: red;
}
p.match-status.status-COMPLETE{
	color: #649464;
}