<!DOCTYPE html>
<html>
<head>
	<th:block th:replace="fragments/common :: headFragment" />
</head>
<body class="welcome-page">
	<div class="app-wrapper">
		<div class="banner-wrapper">
			<img th:src="@{/images/welcome-banner.png}" />
		</div>
		<div class="welcome-page-content">
			<h3 class="page-title">
				Table Tennis Pro test
			</h3>
			<div class="page-links">
				<a th:href="@{/login}" class="btn btn-primary">Login</a>
				<a th:href="@{/register}" class="">Signin</a>
				<span>-OR-</span>
				<a th:href="@{/tournaments}" class="">View Tournaments as Guest</a>
			</div>
		</div>
	</div>
</body>
</html>