<!DOCTYPE html>
<html>
<head>
<div th:replace="commonLayout :: head-content" />
</head>
<body class="tournament-match-score-page">
	<div th:replace="commonLayout :: overlayBlock" />
	<div class="app-wrapper">
		<div class="page-wrapper">
			<div class="page-header">
				<a sec:authorize="isAuthenticated()" th:href="@{'/admin/tournaments/'+${tournament.id}}" class="back-link"><i
					class="material-icons">arrow_back</i></a>
				<a sec:authorize="isAnonymous()" th:href="@{'/tournaments/'+${tournament.id}}" class="back-link"><i
					class="material-icons">arrow_back</i></a>
				<h3 class="page-title">Scorer</h3>
			</div>
			<div class="page-content">
				<div class="match-scorer-wrapper">
					<input type="hidden" th:value="${match.id}" id="mid"/>
					<div class="match-players-block">
						<ul class="match-players-list-block">
							<li class="match-player">
								<div class="title" th:text="${player1.name}"></div>
								<div class="image-wrapper">
									<img th:if="${player1.image != '' && player1.image != null}" th:src="@{${player1.image}}"
										id="default-form-image" class="default-form-image" /> <img
										th:unless="${player1.image != '' && player1.image != null}"
										th:src="@{${@environment.getProperty('players.image.default.path')}}"
										id="default-form-image" class="default-form-image" />
								</div>
							</li>
							<li class="match-player-vs">
								<div class="vs-text">V/S</div>
							</li>
							<li class="match-player" th:if="${player2 != null && player2.name != null}">
								<div class="title" th:text="${player2.name}"></div>
								<div class="image-wrapper">
									<img th:if="${player2.image != '' && player2.image != null}" th:src="@{${player2.image}}"
										id="default-form-image" class="default-form-image" /> <img
										th:unless="${player2.image != '' && player2.image != null}"
										th:src="@{${@environment.getProperty('players.image.default.path')}}"
										id="default-form-image" class="default-form-image" />
								</div>
							</li>
							<li class="match-player" th:unless="${player2 != null && player2.name != null}">
								<div class="title">-</div>
								<div class="image-wrapper">
									<img th:src="@{${@environment.getProperty('players.image.default.path')}}"
										id="default-form-image" class="default-form-image" />
								</div>
							</li>
						</div>
					</ul>
					<div id="match-detail"></div>
				</div>
			</div>
		</div>
		<div sec:authorize="isAuthenticated()">
			<script>
				var authorized = 1;
			</script>
		</div>
		<div sec:authorize="isAnonymous()">
			<script>
				var authorized = 0;
			</script>
		</div>
		<div th:replace="commonLayout :: successResponseModal"></div>
		<div th:replace="commonLayout :: errorResponseModal"></div>
	</div>

	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/matches.js}"></script>
	<script>
		var parent_id = "match-detail";
		getMatchDetail();
	</script>
</body>
</html>