<div class="match-form">
	<div class="match-sets-block">
		<div th:if="${diff < 3}" th:each="set: ${sets}"
			class="match-set-block">
			<div th:if="${set.player1Score > set.player2Score}" class="left-winner-icon"><i class="material-icons">emoji_events</i></div>
			<div class="set-inner-block">
				<div class="left-score" th:text="${set.player1Score}" th:id="${'set'+set.id+'_player1_score'}"></div>
				<div class="content" th:text="${set.name}"></div>
				<div class="right-score" th:text="${set.player2Score}" th:id="${'set'+set.id+'_player2_score'}"></div>
			</div>
			<div th:if="${set.player1Score < set.player2Score}" class="right-winner-icon"><i class="material-icons">emoji_events</i></div>
		</div>
		<div th:if="${diff > 0}" th:each="i: ${#numbers.sequence(0, diff-1)}"
			class="match-set-block">
			<div class="set-inner-block">
				<div class="left-score">0</div>
				<div class="content" th:if="${diff == 1}" th:text="${'Set '+(i+3)}"></div>
				<div class="content" th:if="${diff == 2}" th:text="${'Set '+(i+2)}"></div>
				<div class="content" th:if="${diff == 3}" th:text="${'Set '+(i+1)}"></div>
				<div class="right-score">0</div>
			</div>
		</div>
		<div class="match-set-block set1-block hide">
			<div class="left-winner-icon">
				<i class="material-icons">add_circle</i>
			</div>
			<div class="set-inner-block">
				<div class="left-score">-</div>
				<div class="content">Set 1</div>
				<div class="right-score">-</div>
			</div>
			<div class="right-winner-icon">
				<i class="material-icons">add_circle</i>
			</div>
		</div>
	</div>
	<!-- If a set is started -->
	<div th:if="${actionSet != null}" class="match-points-block">
		<input type="hidden" id="setId" th:value="${actionSet.id}" />
		<div class="row">
			<div class="col-6">
				<a class="remove-icon update-score-icon" th:attr="onclick=|updateScore($(this), '${actionSet.getId()}', '1', false)|">
					<i class="material-icons">remove_circle</i>
				</a>
				<div class="content" id="player1_score" th:text="${actionSet.player1Score}"></div>
				<a class="add-icon update-score-icon" th:attr="onclick=|updateScore($(this), '${actionSet.getId()}', '1', true)|">
					<i class="material-icons">add_circle</i>
				</a>
			</div>
			<div class="col-6">
				<a class="remove-icon update-score-icon" th:attr="onclick=|updateScore($(this), '${actionSet.getId()}', '2', false)|">
					<i class="material-icons">remove_circle</i>
				</a>
				<div class="content" id="player2_score" th:text="${actionSet.player2Score}"></div>
				<a class="add-icon update-score-icon" th:attr="onclick=|updateScore($(this), '${actionSet.getId()}', '2', true)|">
					<i class="material-icons">add_circle</i>
				</a>
			</div>
		</div>
	</div>
	<!-- If a set not started/match is complete -->
	<div th:unless="${actionSet != null}" class="match-status-block">
		<!-- If match is complete -->
		<div th:if="${winner != null}" class="match-status-data">
			<div class="text-content"><span th:text="${winner.name}"></span> won the match.</div>
		</div>
		<!-- If one of the set is complete and next one should start -->
		<div sec:authorize="isAuthenticated()" th:if="${completeSet != null && winner == null}" class="match-status-data">
			<div class="text-content"><span th:text="${completeSet.getWinner().name}"></span> won the <span th:text="${completeSet.name}"></span>.</div>
			<button class="btn btn-primary" th:text="${'Start Set '+nextSet}" th:attr="onclick=|startSet($(this), '${nextSet}')|"></button> 
		</div>
		<div sec:authorize="isAnonymous()" th:if="${completeSet != null && winner == null}" class="match-status-data">
			<div class="text-content"><span th:text="${completeSet.getWinner().name}"></span> won the <span th:text="${completeSet.name}"></span>.</div>	
		</div>
		<!-- If no set has started yet -->
		<div sec:authorize="isAuthenticated()" th:if="${completeSet == null && winner == null}" class="match-status-data">
			<div class="text-content">Click to start the match</div> 
			<a class="btn btn-primary" th:text="${'Start Set 1'}" onClick="startSet($(this), 1)"></a> 
		</div>
		<div sec:authorize="isAnonymous()" th:if="${completeSet == null && winner == null}" class="match-status-data">
			<div class="text-content">Match has not started yet.</div> 
		</div>
	</div>
</div>